<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        
        <div *ngIf="!accessDenied" class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/general/button-user.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{ user.first_name }} {{ user.last_name }}<br /></h4>
                    <h6 class="description">Member since: {{ user.date_joined | date: 'MM/dd/yyyy' }}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Reset your password here. Password must be at least 6 characters long.</p>
                    
                    <div class="login-box">

                        <div *ngIf="!passwordReset">
                            <h2>Password Reset</h2>
                            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                                <div class="user-box">
                                <input type="password" formControlName="password" required>
                                <label>Password</label>
                                </div>
                                <div class="user-box">
                                <input type="password" formControlName="passwordConfirm" required>
                                <label>Confirm Password</label>
                                </div>
                                <button class="btn" type="submit" [disabled]="!resetPasswordForm.valid"><span>Reset</span></button>
                                <p *ngIf="!passwordsMatch">Passwords must match!</p>
                            </form>
                        </div>

                        <div *ngIf="passwordReset">
                            <h6 style="color: #ffffff;">You have reset your password!</h6>
                            <p style="color: #ffffff;">click <a [routerLink]="['/home']">here</a> to login</p>
                        </div>

                    </div>
                      
                </div>
            </div>
        </div>

        <div *ngIf="accessDenied" class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/general/red-x-circle.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Access Denied<br /></h4>
                    <h6 class="description">This link is either expired or not valid, please attempt to reset password again.</h6>
                </div>
            </div>
        </div>

    </div>
</div>
