<div class="section" id="about-me-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center section-header">About Me</p>
            </div>

            <div class="col-md-9 nopadding" id="timeline-div">

              <section class="cd-horizontal-timeline" id="timeline">
                <div class="timeline">
                  <div class="events-wrapper">
                    <div class="events">
                      <ol>
                        <li><a (click)="stateHandler(1)" href="#0" data-date="16/12/2013" class="selected">Early Days</a></li>
                        <li><a (click)="stateHandler(2)" href="#0" data-date="16/02/2014">Devloper</a></li>
                        <li><a (click)="stateHandler(3)" href="#0" data-date="16/04/2014">Senior Engineer</a></li>
                        <li><a (click)="stateHandler(4)" href="#0" data-date="20/06/2014">Now</a></li>
                        <li style="display: none;"><a href="#0" data-date="09/07/2014">Now</a></li>
                      </ol>
              
                      <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                  </div> <!-- .events-wrapper -->
                    
                  <ul class="cd-timeline-navigation">
                    <li><a href="#0" class="prev inactive">Prev</a><i class="fas fa-chevron-left previous-icon" id="chev-prev-icon"></i></li>
                    <li><a href="#0" class="next">Next</a><i class="fas fa-chevron-right next-icon" id="chev-next-icon"></i></li>
                  </ul> <!-- .cd-timeline-navigation -->
                </div> <!-- .timeline -->
              
                <div class="events-content">
                  <ol>
                    <li class="selected" data-date="16/12/2013">
                      <h2>Childhood & College</h2>
                      <em>90's - 2012</em>
                      <p>	
                        At 16, my grandfather packed 3 shirts, 2 pants, his grandfather's pocket watch and his lucky hat to leave Sicily, Italy alone in search of a better life in New York City and a dream of being part of something big. Decades later I was born in Queens, New York and just like my grandfather at a young age I realized I had an intense determination to achieve greatness and to be a part of something big. I made my first website at 17 and it was then that I knew my calling.
                      </p>
                    </li>
              
                    <li data-date="16/02/2014">
                      <h2>Starting My Career</h2>
                      <em>The Mid 2000's</em>
                      <p>	
                        The early years of my career were especially fun and exciting, learning new coding languages and applying my newfound knowledge always kept me busy. It also made me realize and appreciate how much knowledge the senior developers I worked with had and I wanted to be just like them. Even after school in my free time, I read books and followed tutorials to achieve the greatness I was surronded by. 
                      </p>
                    </li>
              
                    <li data-date="16/04/2014">
                      <h2>The Tech Leader</h2>
                      <em>The Early 2010's</em>
                      <p>	
                        Around the time I hit 25 there wasn't much I couldn't do in the world of software development but I still remained humble and learned whatever I could, as much as I could. By this stage in my career I was also beginning to form a strong fondation in business skills, project management, and other real world skills as a leader. Everything was coming together and I still wanted more!
                      </p>
                    </li>
              
                    <li data-date="20/06/2014">
                      <h2>Putting All The Pieces Together</h2>
                      <em>Present Day</em>
                      <p>	
                        After 10 years in the industry I've learned alot and i'm still learning. The sky is the limit and one thing I love doing is helping out and contributing to greatness, and I hope I can contribute to your organization soon!
                      </p>
                    </li>
              
                  </ol>
                </div> <!-- .events-content -->
              </section>
                
            </div>

            <div class="col-md-3 nopadding" id="timeline-img-right-cont">
              <img class="timeline-img-right" id="1" src="./assets/img/bgs/statue-of-liberty.png" alt="...">
              <img style="display: none" class="timeline-img-right" id="2" src="./assets/img/bgs/hiker.png" alt="...">
              <img style="display: none" class="timeline-img-right" id="3" src="./assets/img/bgs/business-man.png" alt="...">
              <img style="display: none" class="timeline-img-right" id="4" src="./assets/img/bgs/superhero.png" alt="...">
            </div>

        </div>
    </div>
</div>