<div class="section" id="about-me-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center section-header">About Me</p>
            </div>

            <div class="col-md-9 nopadding" id="timeline-div">

              <section class="cd-horizontal-timeline" id="timeline">
                <div class="timeline">
                  <div class="events-wrapper">
                    <div class="events">
                      <ol>
                        <li><a (click)="stateHandler(1)" href="#0" data-date="16/12/2013" class="selected">Early Days</a></li>
                        <li><a (click)="stateHandler(2)" href="#0" data-date="16/02/2014">Devloper</a></li>
                        <li><a (click)="stateHandler(3)" href="#0" data-date="16/04/2014">Senior Engineer</a></li>
                        <li><a (click)="stateHandler(4)" href="#0" data-date="20/06/2014">Now</a></li>
                        <li style="display: none;"><a href="#0" data-date="09/07/2014">Now</a></li>
                      </ol>
              
                      <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                  </div> <!-- .events-wrapper -->
                    
                  <ul class="cd-timeline-navigation">
                    <li><a href="#0" class="prev inactive">Prev</a><i class="fas fa-chevron-left previous-icon"></i></li>
                    <li><a href="#0" class="next">Next</a><i class="fas fa-chevron-right next-icon"></i></li>
                  </ul> <!-- .cd-timeline-navigation -->
                </div> <!-- .timeline -->
              
                <div class="events-content">
                  <ol>
                    <li class="selected" data-date="16/12/2013">
                      <h2>Childhood & College</h2>
                      <em>90's - 2012</em>
                      <p>	
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                      </p>
                    </li>
              
                    <li data-date="16/02/2014">
                      <h2>Event title here</h2>
                      <em>February 28th, 2014</em>
                      <p>	
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                      </p>
                    </li>
              
                    <li data-date="16/04/2014">
                      <h2>Event title here</h2>
                      <em>March 20th, 2014</em>
                      <p>	
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                      </p>
                    </li>
              
                    <li data-date="20/06/2014">
                      <h2>Event title here</h2>
                      <em>May 20th, 2014</em>
                      <p>	
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                      </p>
                    </li>
              
                  </ol>
                </div> <!-- .events-content -->
              </section>
                
            </div>

            <div class="col-md-3 nopadding" id="timeline-img-right-cont">
              <img class="timeline-img-right" id="1" src="./assets/img/bgs/statue-of-liberty.png" alt="...">
              <img style="display: none" class="timeline-img-right" id="2" src="./assets/img/bgs/hiker.png" alt="...">
              <img style="display: none" class="timeline-img-right" id="3" src="./assets/img/bgs/superhero.png" alt="...">
              <img style="display: none" class="timeline-img-right" id="4" src="./assets/img/bgs/business-man.png" alt="...">
            </div>

        </div>
    </div>
</div>