<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#" class="white-font">Find Me</a></li>
                    <li><a href="#" class="white-font">Blog</a></li>
                    <li><a href="#" class="white-font">Pages Directory</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright white-font">
                    👨‍💻 Patrick Florian | {{ curDate | date: 'yyyy'}}
                </span>
            </div>
        </div>
    </div>
</footer>
