<div class="section" id="resources-section">
  <div class="container-fluid">
      <div class="row">

          <div class="col-md-12 nopadding">
              <p class="text-center section-header">Resources</p>
              <h4 style="background-color: #fff;" class="text-center">Grab a copy of my resume or check out my GitHub repositories</h4>
          </div>

          <div class="col-md-3 text-center">
            <a>
              <!-- <div class="black-overlay"></div> -->
              <figure id="resource-figure-1">
                <div class="date"><img class="btm-img" src="./assets/img/icons/github-logo.png" alt="..."></div>
                <figcaption> 
                  <h4 class="h4-card"> <span>Github</span></h4>
                  <p class="card-overlay">Check out my public facing code on Github. For non techies, Git is mostly used for housing code we write, but it be used to manage any other type of file, such as Word documents or Final Cut projects. Think of it as a filing system for every draft of a document.</p>
                </figcaption>
              </figure></a>
          </div>

          <div class="col-md-3 text-center">
            <a>
              <!-- <div class="black-overlay"></div> -->
              <figure id="resource-figure-2">
                <div class="date"><img class="btm-img" src="./assets/img/icons/NPM-logo.png" alt="..."></div>
                <figcaption>
                  <h4 class="h4-card"> <span>NPM</span></h4>
                  <p class="card-overlay">Pull one of my NPM projects for use in one of your projects! For non techies, NPM (or Node Package Manager) is an awesome module where someone can write reusable code to shared across multiple platforms for other's to use with just a few simple steps!</p>
                </figcaption>
              </figure></a>
          </div>

          <div class="col-md-3 text-center">
            <a>
              <!-- <div class="black-overlay"></div> -->
              <figure id="resource-figure-3">
                <div class="date"><img class="btm-img" src="./assets/img/icons/word-doc.png" alt="..."></div>
                <figcaption>
                  <h4 class="h4-card"> <span>Resume</span></h4>
                  <p class="card-overlay">Grab a copy of my resume. I keep this updated roughly every 1-2 weeks but feel free to email me to request the latest copy.</p>
                </figcaption>
              </figure></a>
          </div>

          <div class="col-md-3 text-center">
            <a>
              <!-- <div class="black-overlay"></div> -->
              <figure id="resource-figure-4">
                <div class="date"><img class="btm-img" src="./assets/img/icons/suit-logo.png" alt="..."></div>
                <figcaption>
                  <h4 class="h4-card"> <span>Digital Card</span></h4>
                  <p class="card-overlay">Grab a copy of my business card. So I created a business card which is included here but I also created a business flyer, which in my own visual expression is a fun way to restructure my resume visually.</p>
                </figcaption>
              </figure></a>
          </div>

      </div>
  </div>
</div>