<div class="section" id="contact-me-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 nopadding">
                <p class="text-center section-header">Get In Touch</p>
            </div>

            <div class="col-md-9 nopadding">

                <!-- Leaflet -->
                <!-- <div style="height: 300px;"
                    leaflet 
                    [leafletOptions]="mapOptions"
                    [leafletLayersControl]="layersControl">
                </div> -->

                <div id="map" style="min-width:100px;width:100%;height:493px;">
                </div>

            </div>

            <div class="col-md-3 form-cont nopadding">
              
              <div class="row" style="margin: 0 auto;">

                <div class="col-12 text-center greetings-cont">
                  <i class="fas fa-paper-plane fa-icon-cont-plane"></i>
                  <p class="form-header-text">Say hi and I'll be in touch soon!</p>
                </div>

                <div class="col-12 text-center greetings-cont thank-you-cont">
                  <i class="fas fa-check-circle fa-icon-cont-plane"></i>
                  <p class="form-header-text">Thank you! I will be in contact shortly.</p>
                </div>

                <div class="col-12 nopadding input-effect">
                  <input 
                  [class.has-content]="nameValue.length != 0" 
                  [class.error-bg]="nameValue.length == 0 && nameTouched"
                  (blur)="touchInput('name')"
                  class="effect-19 error-bg" type="text" [value]="nameValue" 
                  (input)="nameValue = $event.target.value;">
                    <label>* Name</label>
                    <span class="focus-border">
                      <i></i>
                    </span>
                </div>

                <div class="col-12 nopadding input-effect">
                  <div class="input-field-margin-top">
                    <input 
                    [class.has-content]="emailValue.length != 0" 
                    [class.error-bg]="emailValue.length == 0 && emailTouched"
                    (blur)="touchInput('email')"
                    class="effect-19" type="text" [value]="emailValue" 
                    (input)="emailValue = $event.target.value;">
                    <label>* Email</label>
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>

                <div class="col-12 nopadding input-effect">
                  <div class="input-field-margin-top">
                    <input 
                    [class.has-content]="phoneValue.length != 0" 
                    [class.error-bg]="phoneValue.length == 0 && phoneTouched"
                    (blur)="touchInput('phone')"
                    class="effect-19" type="text" [value]="phoneValue" 
                    (input)="phoneValue = $event.target.value;">
                    <label>* Phone</label>
                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>
                </div>

                <div class="col-12 nopadding input-effect">
                  
                  <div class="input-field-margin-top">
                    <textarea [class.has-content]="nameValue.length != 0" rows="7" style="width: 100%;" class="effect-19" type="text" [value]="messageValue" (input)="MessageValue = $event.target.value;">
                    </textarea>
                      <label>Message</label>
                      <span class="focus-border">
                        <i></i>
                      </span>
                  </div>

                </div>

                <div class="col-12">
                    <div class="submit-btn-container">
                      <button (click)="onSubmit()" 
                      [attr.disabled] = "nameValue.length == 0 || emailValue.length == 0 || phoneValue.length == 0 ? 'disabled' : null"
                      id="button">
                      <span *ngIf="nameValue.length == 0 || emailValue.length == 0 || phoneValue.length == 0 else readyToSubmit">
                        Please fill out
                      </span>
                      <ng-template #readyToSubmit>
                        SUBMIT
                      </ng-template></button>
                    </div>
                </div>
                
              </div>

            </div>

        </div>
    </div>
</div>