<div class="container">
    <h2>Oh! You want to unsubscribe {{ email }}?</h2>
    <p>I hate goodbyes, But if you change yor mind, i'll always be here with something fun to share.</p>
    <a style="color: #fff" class="btn" id="unsubscribe" (click)="unSubscribe();">Unsubscribe</a>
    <a href="" class="btn btn-light" id="cancel">Cancel</a>

    <br>
    <br>

   <div class="emoji shocked">
      <figure class="face">
        <span class="eyes">
          <span class="eye"></span>
          <span class="eye"></span>
        </span>
        <span class="mouth">
        </span>
      </figure>
    </div>

</div>