<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

<div class="header">
  <a id="menu-action">
    <i class="fa fa-bars"></i>
    <span class="oswald-font">Close</span>
  </a>
  <div class="logo">
    <span class="oswald-font navbar-brand-text">Patrick's Awesome Admin Template</span>
  </div>
  <div class="user-icon">
    <img src="./assets/img/bgs/header-logo-1.jpg" alt="Admin Icon" class="rounded-circle admin-logo">
  </div>
  <i class="fas fa-search search-icon"></i>
</div>

<div class="sidebar">
  <ul>
    <li><a class="side-menu-items"><i class="fa fa-desktop"></i><span>Desktop</span></a></li>
    <li><a class="side-menu-items"><i class="fa fa-server"></i><span>Server</span></a></li>
    <li><a class="side-menu-items"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
    <li><a class="side-menu-items"><i class="fa fa-envelope-o"></i><span>Messages</span></a></li>
    <li><a class="side-menu-items"><i class="fa fa-table"></i><span>Data Table</span></a></li>
  </ul>
</div>

<!-- Content -->

<div class="container-fluid">

  <div class="main">

    <div class="row">
        
      <div class="col-md-12">

        <div class="jumbotron">
          <h1 id="hello,-world!">Welcome back,<a class="anchorjs-link"><span class="anchorjs-icon"></span></a></h1>
          <p>This is just one of the many templates I personally built from scratch that I use for my clients backend administrative views. This one is by far my favorite but I have many others.</p>
          <p><a class="btn btn-primary btn-custom-blue" role="button">Go Back Home</a></p>
        </div>

      </div>

      <div class="col-md-6">
        <body class="cal-cont" onload="startTime()">
          <div class="cal-sub-container">
            <div class="card">
              <div class="front">
                <div class="contentfront">
                  <div class="month">
                    <table>
                      <tr class="orangeTr">
                        <th>M</th>
                        <th>T</th>
                        <th>W</th>
                        <th>T</th>
                        <th>F</th>
                        <th>S</th>
                        <th>S</th>
                      </tr>
                      <tr class="whiteTr">
                        <th></th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                      </tr>
                      <tr class="whiteTr">
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                      </tr>
                      <tr class="whiteTr">
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                      </tr>
                      <tr class="whiteTr">
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                      </tr>
                      <tr class="whiteTr">
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>31</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </table>
                  </div>
                  <div class="date">
                    <div class="datecont">
                      <div id="date">15</div>
                      <div id="day">Tuesday</div>
                      <div id="month">September</div>
                      <i class="fa fa-pencil edit" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="back">
                <div class="contentback">
                  <div class="backcontainer">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </body>
      </div>

      <!-- WAVE -->
      <div class="col-md-6 col-padding-fix-graph">
        <div style="display: block;">
          <canvas baseChart width="250" height="250"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>

      <!-- PIE -->
      <div class="col-md-6 col-padding-fix-graph">
        <div style="display: block;">
          <canvas baseChart width="200" height="200"
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="pieChartColors"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>

      <!-- Bar -->
      <div class="col-md-6 col-padding-fix-graph">
        <div style="display: block;">
          <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [colors]="barChartColors"
            [chartType]="barChartType">
          </canvas>
        </div>        
      </div>

      <div class="col-md-6 col-padding-fix-graph">
        <div style="display: block;">
          <canvas baseChart
            [datasets]="radarChartData"
            [options]="radarChartOptions"
            [labels]="radarChartLabels"
            [colors]="radarChartColors"
            [chartType]="radarChartType">
          </canvas>
        </div>        
      </div>

      <div class="col-md-6 col-padding-fix-graph">
        <div style="display: block;">
          <canvas baseChart
            [data]="polarAreaChartData"
            [labels]="polarAreaChartLabels"
            [colors]="polarChartColors"
            [legend]="polarAreaLegend"
            [chartType]="polarAreaChartType">
          </canvas>
        </div>
      </div>

      <div class="col-md-6 col-padding-fix-graph">
        <div style="display: block;">
          <canvas baseChart
            [datasets]="scatterChartData"
            [options]="scatterChartOptions"
            [colors]="scatterChartColors"
            [chartType]="scatterChartType">
          </canvas>
        </div>
      </div>

      <div class="col-md-6 col-padding-fix-graph">
        <p class="text-center header-text">👑 Top 3 Leaderboard</p>
        <table class="table table-striped">
          <thead>
            <tr class="bg-blue">
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6 clock-in-cont">

        <div class="back"></div>
        <div class="registration-form">
          <header>
            <h1>🕑 Clock In</h1>
            <p>Fill in all informations</p>
          </header>
          <form>
            <div class="input-section email-section">
              <input class="email" type="email" placeholder="Employee ID" autocomplete="off"/>
              <div class="animated-button"><span class="icon-paper-plane"><i class="fa fa-envelope-o"></i></span><span class="next-button email"><i class="fa fa-arrow-up"></i></span></div>
            </div>
            <div class="input-section password-section folded">
              <input class="password" type="password" placeholder="Password"/>
              <div class="animated-button"><span class="icon-lock"><i class="fa fa-lock"></i></span><span class="next-button password"><i class="fa fa-arrow-up"></i></span></div>
            </div>
            <div class="input-section repeat-password-section folded">
              <input class="repeat-password" type="password" placeholder="Password"/>
              <div class="animated-button"><span class="icon-repeat-lock"><i class="fa fa-lock"></i></span><span class="next-button repeat-password"><i class="fa fa-paper-plane"></i></span></div>
            </div>
            <div class="success"> 
              <p>Clocked In!</p>
            </div>
          </form>
        </div>

      </div>

      <div class="col-md-6">
        
        <p class="palette-header text-center header-text">Color Palette</p>
        
        <div class="row palette-row">
        
          <div class="col-md-3" style="display: flex;">

            <div class="left-palette l-1"></div>
            <div class="right-palette r-1"></div>
            <div class="palette-desc">
              <p class="palette-header">Electric Blue</p>
              <p class="palette-text">Left: #0984e3</p>
              <p class="palette-text">Right: #74b9ff</p>
            </div>

          </div>

          <div class="col-md-3" style="display: flex;">
            
            <div class="left-palette l-2"></div>
            <div class="right-palette r-2"></div>
            <div class="palette-desc">
              <p class="palette-header">Steal The Teal</p>
              <p class="palette-text">Left: #00cec9</p>
              <p class="palette-text">Right: #81ecec</p>
            </div>

          </div>

          <div class="col-md-3" style="display: flex;">
            
            <div class="left-palette l-3"></div>
            <div class="right-palette r-3"></div>
            <div class="palette-desc">
              <p class="palette-header">Mintee</p>
              <p class="palette-text">Left: #00b894</p>
              <p class="palette-text">Right: #55efc4</p>
            </div>

          </div>

          <div class="col-md-3" style="display: flex;">
            
            <div class="left-palette l-4"></div>
            <div class="right-palette r-4"></div>
            <div class="palette-desc">
              <p class="palette-header">Darkula</p>
              <p class="palette-text">Left: #2d3436</p>
              <p class="palette-text">Right: #636e72</p>
            </div>


          </div>

        </div>
        
      </div>

      <div class="col-md-12">

        <div class="main-body">
        
              <!-- Breadcrumb -->
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a style="color: #0984e3;" href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a style="color: #0984e3;" href="javascript:void(0)">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
              <!-- /Breadcrumb -->
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img  src="./assets/img/bgs/admin-logo.jpg" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>John Doe</h4>
                          <p class="text-secondary mb-1">Patrick Florian</p>
                          <p class="text-muted font-size-sm">Charoltte, NC</p>
                          <button class="btn btn-primary" style="background-color: #0984e3; border-color: #0984e3;">Follow</button>
                          <button class="btn btn-outline-primary" style="background-color: #0984e3; color: #fff; border-color: #0984e3;">Message</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3 bottom-left-card-fix">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                        <span class="text-secondary">https://patrickflorian.com</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                        <span class="text-secondary">pflorian</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                        <span class="text-secondary">@pflorian</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                        <span class="text-secondary">patrickflorian</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                        <span class="text-secondary">patrickflorian</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Patrick Florian 
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          patrickflorian@gmail.com
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          (727) 816-9029
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Mobile</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          (813) 380-4539
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Charoltte, NC
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Office</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Remote
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Favorite Food</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Veggie Burgers & Sweet Potato Fries
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row gutters-sm bottom-row-fix">
                    <div class="col-sm-6 mb-3">
                      <div class="card h-100">
                        <div class="card-body">
                          <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2" style="color: #0984e3 !important;">assignment</i>Project Status</h6>
                          <small>Web Design</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Website Markup</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>One Page</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Mobile Template</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Backend API</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                      <div class="card h-100">
                        <div class="card-body">
                          <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2" style="color: #0984e3 !important;">assignment</i>Project Status</h6>
                          <small>Web Design</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Website Markup</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>One Page</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Mobile Template</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <small>Backend API</small>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </div>

      <div class="col-md-12 bottom-spacer">
        <!-- BOTTOM PAGE OFFSET -->
      </div>

    </div>

  </div>

</div>