<div class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center section-header">Portfolio</p>

                <div class="btn-cont text-center">
                    <button *ngFor="let btn of btns" (click)="changeBtnActiveState(btn.btnID)"
                    type="button" class="btn btn-idle" [class.btn-blue]="btn.btnActiveState == true">
                    {{ btn.btnDisplayName }}
                    </button>
                </div>

                <div class="row portfolio-img-row">
                    <div class="col-md-3 nopadding portfolio-img-container" *ngFor="let img of images">
                        <img class="portfolio-img" src="{{ img.imgSrc }}">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>