<div class="wrapper" id="top-section">
    <div class="page-header section-dark" style="background-image: url('assets/img/bgs/meandbeans.jpg')">

        <h1 class="typewriter">I am
            
            <span
               class="txt-rotate"
               data-period="2000"
               data-rotate='[ "an engineer.", "an innovator.", "a leader.", "a designer.", "an entrepenuer." ]'>
            </span>
        
               <div class="scroll-downs">
                <div style="cursor: pointer;" class="mousey" (click)="scrollDownOneSection()">
                  <div class="scroller"></div>
                </div>
              </div>
        
            </h1>
        
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>

    <div class="main">

        <!-- Portfolio -->
        <app-portfolio></app-portfolio>

        <!-- First parralax -->
        <div class="parallax parallax-1"></div>

        <!-- About Me -->
        <app-about-me></app-about-me>

        <!-- First parralax -->
        <div class="parallax parallax-2"></div>

        <!-- My Skills -->
        <app-my-skills></app-my-skills>

        <!-- First parralax -->
        <div class="parallax parallax-3"></div>

        <!-- Contact Me -->
        <app-contact-me></app-contact-me>

        <!-- First parralax -->
        <div class="parallax parallax-4"></div>

        <!-- Blog Showcase -->
        <app-blog-showcase></app-blog-showcase>

        <!-- First parralax -->
        <div class="parallax parallax-5"></div>

    </div>

</div>
