<div class="wrapper">

    <div class="page-header section-dark" style="background-image: url('assets/img/bgs/meandbeans.jpg')">

        <div class="typewriter-cont">
            <h1 class="barcode-font">I am
                <span
                   class="txt-rotate"
                   data-period="2000"
                   data-rotate='[ "an engineer.", "an innovater.", "a freelancer.", "a leader." ]'></span>
            </h1>
        </div>

        <div class="filter"></div>
        
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Check Out My Apps Here
            <a href="#" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>
    <div class="main">

        <div class="section"> <!-- Section class adds padding below and above, looks decent for now might tweak -->
            <div class="container-fluid"> <!-- Switch out with container for a non full width row -->
                <div class="row">
                    <div class="col-md-12">

                        <h2 class="text-center">
                            Portfolio
                        </h2>

                        <blockquote class="blockquote">
                            <p class="mb-0">“You can have anything you want in the world, once you help everyone around you get what they want.”</p>
                            <footer class="blockquote-footer"><cite title="source Title">Bob Ross</cite></footer>
                        </blockquote>
                        
                        <div class="row">
                            <div class="col-md-3">
                                <p>Test</p>
                            </div>
                            <div class="col-md-3">
                                <p>Test</p>
                            </div>
                            <div class="col-md-3">
                                <p>Test</p>
                            </div>
                            <div class="col-md-3">
                                <p>Test</p>
                            </div>
                        </div>

                    </div> <!-- END COL 12 -->
                </div> <!-- END ROW -->
            </div> <!-- END CONTAINER -->
        </div> <!-- END SECTION -->

        <div class="section"> <!-- Section class adds padding below and above, looks decent for now might tweak -->
            <div class="container-fluid"> <!-- Switch out with container for a non full width row -->
                <div class="row">
                    <div class="col-md-12">

                        <p>TEST</p>

                    </div> <!-- END COL 12 -->
                </div> <!-- END ROW -->
            </div> <!-- END CONTAINER -->
        </div> <!-- END SECTION -->
        
    </div>
</div>
