<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bgs/meandbeans.jpg')">
        
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>

    <div class="main">

      <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="">
                        <div class="input-field">
                            <input type="text" id="name" required />
                            <label for="name">Your name:</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      
    </div>

</div>
