<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bgs/meandbeans.jpg')">

        <h1 class="typewriter">I am
            
            <span
               class="txt-rotate"
               data-period="2000"
               data-rotate='[ "an engineer.", "an innovator.", "a leader.", "a designer.", "an entrepenuer." ]'>
            </span>
        
               <div class="scroll-downs">
                <div class="mousey">
                  <div class="scroller"></div>
                </div>
              </div>
        
            </h1>
        
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>

    <div class="main">

        <!-- Portfolio -->
        <app-portfolio></app-portfolio>

        <div class="parallax parallax-1"></div>
      
    </div>

</div>
